 * {
    font-family: "Sofia", sans-serif;
}
#input{
    border: 1px solid black;
    background-color: #FCFAEE;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: #3B3030;
    box-shadow: 9px 8px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
h1{
    text-shadow: 9px 8px 10px rgba(0, 0, 0, 0.7);
    margin: 0;
    font-size: 50px;
}
.header p{
    font-size: 25px;
    margin: 0%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
.wrapper{
    background-color: #FFF0D1;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    max-width: 90%;
    padding: 10px;
    height: fit-content;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
button{
    margin: 0px;
    background-color: #3B3030;
    padding: 2px;
    color: white;
    height: 60px;
    font-size: 30px;
    width: 60px;
    border-radius: .5rem;
    box-shadow: 9px 8px 10px rgba(0, 0, 0, 0.5);
}
